@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
*{
  box-sizing: border-box;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body{
  /*background-image: url('grey_wash_wall.png');*/
  background-color: teal;
  font-family: "PT Mono";
  color: ivory;
  margin: 0;
}
h1{
  font-size: 36px;
  line-height: 1;
  margin: 5px 25px 5px 80px;
  text-align: center;
  display: inline-block;
  float: left;
}

header{
  background-color: tomato;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
ul{
  display: inline-block;
  float: left;
  margin: 10px 0 5px 0;
}
li{
  list-style: none;
  display: inline-block;
  padding: 5px;
  margin-left: 50px;
}
li:first-child{
  margin-left: 300px;
}

.card{
  height: 130px;
  width: 130px;
  margin: 5px;
  border-radius: 100%;
  background: #E6C027;
  /*background-size: 100%;*/
  animation-name: popIn;
  animation-duration: 3s;
}
.container{
  padding: 0;
  margin: 60px 75px 10px 75px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  /*justify-content: space-around;*/
}

@keyframes popIn{
  0%{
    transform: scale(0.1);
  }
  25%{
    transform: scale(1);
  }
}
.prompt{
  font-size: 4em;
  position: absolute;
  top: 300px;
  left: 450px;
  z-index: 2;
  margin: 0;
  padding: 20px;
  background-color: tomato;
}

.c0{
  background-color: transparent;
  background-image: url('img/0.png');
}
.c1{
  background-color: transparent;
  background-image: url('img/1.png');
}
.c2{
  background-color: transparent;
  background-image: url('img/2.png');
}
.c3{
  background-color: transparent;
  background-image: url('img/3.png');
}
.c4{
  background-color: transparent;
  background-image: url('img/4.png');
}
.c5{
  background-color: transparent;
  background-image: url('img/5.png');
}
.c6{
  background-color: transparent;
  background-image: url('img/6.png');
}
.c7{
  background-color: transparent;
  background-image: url('img/7.png');
}
.c8{
  background-color: transparent;
  background-image: url('img/8.png');
}
.c9{
  background-color: transparent;
  background-image: url('img/9.png');
}
.c10{
  background-color: transparent;
  background-image: url('img/10.png');
}
.c11{
  background-color: transparent;
  background-image: url('img/11.png');
}
.c12{
  background-color: transparent;
  background-image: url('img/12.png');
}
.c13{
  background-color: transparent;
  background-image: url('img/13.png');
}.c14{
  background-color: transparent;
  background-image: url('img/14.png');
}.c15{
  background-color: transparent;
  background-image: url('img/15.png');
}.c16{
  background-color: transparent;
  background-image: url('img/16.png');
}.c17{
  background-color: transparent;
  background-image: url('img/17.png');
}.c18{
  background-color: transparent;
  background-image: url('img/18.png');
}.c19{
  background-color: transparent;
  background-image: url('img/19.png');
}.c20{
  background-color: transparent;
  background-image: url('img/20.png');
}
