@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
*{
  box-sizing: border-box;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body{
  background-color: teal;
  font-family: "Poiret One";
  color: ivory;
  margin: 0;
}
h1{
  font-size: 36px;
  line-height: 1;
  margin: 5px 20px 5px 75px;
  text-align: center;
  display: inline-block;
  float: left;
}

header{
  background-color: tomato;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
ul{
  display: inline-block;
  float: left;
}
li{
  list-style: none;
  display: inline-block;
  padding: 5px;
  margin-left: 50px;
}
li:first-child{
  margin-left: 400px;
}

.card{
  height: 130px;
  width: 130px;
  margin: 5px;
  border-radius: 100%;
  background: #E6C027;
  /*background-size: 50%;*/
  animation-name: popIn;
  animation-duration: 3s;
}
.container{
  padding: 0;
  margin: 100px 75px 20px 75px;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  /*justify-content: space-around;*/
}

@keyframes popIn{
  0%{
    transform: scale(0.1);
  }
  25%{
    transform: scale(1);
  }
}


.c0{
  background-color: transparent;
  background-image: url('0.png');
}
.c1{
  background-color: transparent;
  background-image: url('1.png');
}
.c2{
  background-color: transparent;
  background-image: url('2.png');
}
.c3{
  background-color: transparent;
  background-image: url('3.png');
}
.c4{
  background-color: transparent;
  background-image: url('4.png');
}
.c5{
  background-color: transparent;
  background-image: url('5.png');
}
.c6{
  background-color: transparent;
  background-image: url('6.png');
}
.c7{
  background-color: transparent;
  background-image: url('7.png');
}
.c8{
  background-color: transparent;
  background-image: url('8.png');
}
.c9{
  background-color: transparent;
  background-image: url('9.png');
}
.c10{
  background-color: transparent;
  background-image: url('10.png');
}
.c11{
  background-color: transparent;
  background-image: url('11.png');
}
.c12{
  background-color: transparent;
  background-image: url('12.png');
}
.c13{
  background-color: transparent;
  background-image: url('13.png');
}.c14{
  background-color: transparent;
  background-image: url('14.png');
}.c15{
  background-color: transparent;
  background-image: url('15.png');
}.c16{
  background-color: transparent;
  background-image: url('16.png');
}.c17{
  background-color: transparent;
  background-image: url('17.png');
}.c18{
  background-color: transparent;
  background-image: url('18.png');
}.c19{
  background-color: transparent;
  background-image: url('19.png');
}.c20{
  background-color: transparent;
  background-image: url('20.png');
}
